Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label client-testkit PRs:
  label:
    add:
    - module:client-testkit

label docs PRs:
  label:
    add:
    - docs

Add a dedicated test for WS combined pipe normal completion
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

Make WS closing frame sending atomically
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

Prevent sending WS frames after server closing handshake
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

Perform WS close state checks and transitions atomically
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

Handle peer-initiated WS closing handshake
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

Scalafix
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

Revert "Fix interleaving of auto-pong and sent data frames"
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

deploy: 0502dd813301ae0e38599414e3be63315546331d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Properly signal the start of an Ember Unix socket server
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

headercheck fixes
  core/shared/src/main/scala/org/http4s/headers/Accept-Query.scala
  tests/shared/src/test/scala/org/http4s/headers/AcceptQuerySuite.scala
Due: label core PRs

Add support for RFC 10008 (The HTTP QUERY Method)
  client/shared/src/test/scala/org/http4s/client/middleware/FollowRedirectSuite.scala
  core/shared/src/main/scala/org/http4s/Method.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Query.scala
  docs/docs/methods.md
  dsl/src/main/scala/org/http4s/dsl/impl/Methods.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Caching.scala
  tests/shared/src/test/scala/org/http4s/headers/AcceptQuerySuite.scala
Due: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label docs PRs

Address review comments
  core/shared/src/main/scala/org/http4s/headers/Accept-Query.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Methods.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/AcceptQuerySuite.scala
Due: label core PRs, label dsl PRs, label laws PRs

In EmberWebSocketSuite, use client as a resource
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

deploy: ed88ca22e292fe8f3b834dff552a99d86acf25de
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/multipart.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Simplify Accept-Query impl, warning about missing Structured Fields support
  core/shared/src/main/scala/org/http4s/headers/Accept-Query.scala
  tests/shared/src/test/scala/org/http4s/headers/AcceptQuerySuite.scala
Due: label core PRs

Add a test asserting server response and pong WS frames don't interfere
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

Warn on running Ember H2 with Unix sockets
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

deploy: 096517aee89b228f134f1319e0d3359d1c15da8d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 04e1962e302f17e3497a9a73f9ab0f0b6fe0b688
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: ed57b3b1995d67a390a514504d76de55bc5551ad
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix heartbeat tests broken by fs2-3.14.0's semantic changes
  server/shared/src/test/scala/org/http4s/server/websocket/WebSocketBuilderSuite.scala
Due: label server PRs

deploy: c95875130030e50283bd64006e1da360b0fc164b
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: b6695a8966b8d63734422cc7ac3a5f74b264ba7c
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Do not respond to an incoming Ping once a Close has been received
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

Use the new way of instantiating clients in EmberServerWebSocketSuite
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

Address review feedback on Alt-Svc header parser
  core/shared/src/main/scala/org/http4s/headers/`Alt-Svc`.scala
  tests/shared/src/test/scala/org/http4s/headers/AltSvcSuite.scala
Due: label core PRs

Fix Scala 3 compile error introduced by prior commit
  core/shared/src/main/scala/org/http4s/headers/`Alt-Svc`.scala
Due: label core PRs

Fix scalafixAll lint failures: exploded imports, non-validating copy ctor
  core/shared/src/main/scala/org/http4s/headers/`Alt-Svc`.scala
  tests/shared/src/test/scala/org/http4s/headers/AltSvcSuite.scala
Due: label core PRs

deploy: ca8bcb110b5cf23265c659ef9e486b7e0c8a2308
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 5e20fac645ff86f07a3f4eac238c51f7b25eff98
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: fcb205a97d1c6782f1da0b9e47d56087a3bcab88
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Reject oversized HTTP/2 frames before buffering the payload
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2FrameSizeSuite.scala
Due: label ember-core PRs

Enforce maxHeaderBlockSize on endHeaders=true
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
Due: label ember-core PRs

Cap WebSocket fragment count
  core/shared/src/main/scala/org/http4s/websocket/WebSocketFrameDefragmenter.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketFrameDefragmenterSuite.scala
Due: label core PRs, label server PRs

Enforce idle timeout at HTTP/2 connection level
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
Due: label ember-core PRs

v0.23.37 release notes
  docs/changelog.md
Due: label docs PRs

Apply the idle timeout to the HTTP/2 read path
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2IdleTimeoutSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-core PRs, label ember-server PRs

v1.0.0-M48 release notes
  docs/changelog.md
Due: label docs PRs

Release note tweaks
  docs/changelog.md
Due: label docs PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label client-testkit PRs: any of: ^client-testkit/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
