Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label client-testkit PRs:
  label:
    add:
    - module:client-testkit

label docs PRs:
  label:
    add:
    - docs

Drop redundant F.uncancelable
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label server PRs

Restructure tests
  client/jvm/src/test/scala/org/http4s/client/middleware/MetricsCompressionSuite.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  server/jvm/src/test/scala/org/http4s/server/middleware/MetricsCompressionSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label server PRs, label client PRs

Run scalafmt
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
Due: label client PRs

Add timeout during initial socket connection establishment
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

deploy: 08f220459a229ff17a66c14a57e91601d7aa6234
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

use `Resource.timeout`
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

fmt
  client/shared/src/main/scala/org/http4s/client/middleware/CookieJar.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label client PRs, label ember-core PRs

deploy: f81cb4ac926ffd65d94bb856908de5f11d1ffe22
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Model the CloseFrameStatusCode
  core/shared/src/main/scala/org/http4s/websocket/WebSocketFrame.scala
Due: label core PRs

Add new constuctors for the Close frame
  core/shared/src/main/scala/org/http4s/websocket/WebSocketFrame.scala
Due: label core PRs

Use CloseStatusCode instead of magic numbers
  client/shared/src/main/scala/org/http4s/client/websocket/WSClient.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  server/shared/src/main/scala/org/http4s/server/websocket/Heartbeat.scala
Due: label server PRs, label client PRs, label ember-server PRs

Use CloseStatusCode in tests
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

Write HTTP/2 window updates while DATA waits for credit
  ember-core/jvm/src/test/scala/org/http4s/ember/core/h2/H2FlowControlReviewSuite.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Move window update writes out of the write loop
  ember-core/jvm/src/test/scala/org/http4s/ember/core/h2/H2FlowControlReviewSuite.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
Due: label ember-core PRs

Reset forgotten HTTP/2 streams that still receive DATA on the server
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ServerSuite.scala
Due: label ember-core PRs

Update ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

Fix applied suggested simplification from 57cacd7
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

Rely on socket writes being serialized
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Remove explicit chunking of outgoing H2Frames
  ember-core/jvm/src/test/scala/org/http4s/ember/core/h2/H2FlowControlReviewSuite.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2FrameSizeSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2IdleTimeoutSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

block HTTP/2 data frame from outgoing queue until window opens
  ember-core/jvm/src/test/scala/org/http4s/ember/core/h2/H2FlowControlReviewSuite.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2FrameSizeSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2Suite.scala
Due: label ember-core PRs

Add more window tests for Ember H2
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
Due: label ember-core PRs

Fix H2Suite file header
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2Suite.scala
Due: label ember-core PRs

Fix H2 test formatting
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2FrameSizeSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2Suite.scala
Due: label ember-core PRs

Fix H2 2.12 build
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Isolate HTTP/2 behind internal Http2Support in ember-server
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/Http2Support.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Rm 'v' prefix in deprecation versions in CSRF
  server/shared/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label server PRs

Temporarily downgrade scala3 to 3.3.6
  project/Http4sPlugin.scala
Due: none

Multipart decoder with cumulative part size limit
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: label core PRs

Make Changelog outline scrollable
  project/Http4sSitePlugin.scala
Due: none

deploy: 985dedcbfc69108bc87f5d9c640a866db72fbbe2
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
  v0.23/docs/streaming.html
Due: none

deploy: 2cf7a2f65cd4100651d97f376d05eef1bbcdd765
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Make sure HTTP/2 GO_AWAY always closes connection
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2IdleTimeoutSuite.scala
Due: label ember-core PRs

Handle HTTP/2 stall timeout cancelation
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

propagate errors writing HTTP/2 frames to the caller
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
Due: label ember-core PRs

Fix build for Scala 2.12
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Send partial HTTP/2 data frames when connection window is insufficient
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

deploy: 0e20812cbefb0d325ce74ad3b991ffec7bf3dcd5
  changelog.html
  index.html
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
  versions.html
Due: none

Draft the v1.0.0-M49 release notes
  docs/changelog.md
Due: label docs PRs

deploy: b5a9a5f916a8a1d2b29c7efcf82efdd911005ee7
  changelog.html
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

deploy: e84511ab50f68900f7a863d53badfcd9669a6de1
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label client-testkit PRs: any of: ^client-testkit/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
