Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label http4s-steward's PRs
  conditions:
  - author=http4s-steward[bot]
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label client-testkit PRs
  conditions:
    - files~=^client-testkit/
  actions:
    label:
      add: ['module:client-testkit']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Replace VirtualHost middleware builders
  server/shared/src/main/scala/org/http4s/server/middleware/VirtualHost.scala
  server/shared/src/test/scala/org/http4s/server/middleware/VirtualHostSuite.scala
Due: label server PRs

Support Scala 2.12
  server/shared/src/main/scala/org/http4s/server/middleware/VirtualHost.scala
Due: label server PRs

deploy: bf98cb38bb470beae3de9b88bff87fc13d402e73
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Don't expose drained bytes as first bytes of next response
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
Due: label ember-client PRs

Honor request and response force close even when body needs draining
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
Due: label ember-client PRs

Use unlessA in Ember client postprocess
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Keep an undeprecated version of the old regex method
  server/shared/src/main/scala/org/http4s/server/middleware/VirtualHost.scala
  server/shared/src/test/scala/org/http4s/server/middleware/VirtualHostSuite.scala
Due: label server PRs

deploy: 94d70cbf59160b5fd8e5ca952481554e16a6ae71
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 4df24266486797367d22211f96387ce7c8085124
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 113e6cccfdeba80080d5a508721ab5fa19e6d2ce
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Delete SECURITY.md
  SECURITY.md
Due: none

deploy: bb7aa954da2792c20982da3da493814d1b87a88c
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix off-by-one error in maxDrainBytes
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
Due: label ember-client PRs

deploy: 1856d59418e288e31dd8cb0b359ea91e38982f6d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

VirtualHost handling cleanup
  server/shared/src/main/scala/org/http4s/server/middleware/VirtualHost.scala
  server/shared/src/test/scala/org/http4s/server/middleware/VirtualHostSuite.scala
Due: label server PRs

Add VirtualHost.subdomain
  server/shared/src/main/scala/org/http4s/server/middleware/VirtualHost.scala
  server/shared/src/test/scala/org/http4s/server/middleware/VirtualHostSuite.scala
Due: label server PRs

Code cleanup
  server/shared/src/main/scala/org/http4s/server/middleware/VirtualHost.scala
  server/shared/src/test/scala/org/http4s/server/middleware/VirtualHostSuite.scala
Due: label server PRs

Clean up VirtualHost docs
  server/shared/src/main/scala/org/http4s/server/middleware/VirtualHost.scala
Due: label server PRs

deploy: 208a03fa15443eb06f4493e1fcf724b381f62fb7
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix undercounting issues in metrics
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
  tests/shared/src/main/scala/org/http4s/metrics/TestMetricsOps.scala
Due: label server PRs, label client PRs

Make State final
  tests/shared/src/main/scala/org/http4s/metrics/TestMetricsOps.scala
Due: none

Fix year in header of new files
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
  tests/shared/src/main/scala/org/http4s/metrics/TestMetricsOps.scala
Due: label server PRs, label client PRs

deploy: a4f897b4c93ee76d651a98001fe12fa585a7cefd
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: e996ef46574bc8b33ce789c4d75fca486bbc94ed
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Ember H/2: emit RST_STREAM on cancel/error; opt-in cancel-on-peer-RST
  build.sbt
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/h2/H2CancelSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-core PRs, label ember-server PRs

Move cancel signal around
  build.sbt
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/h2/H2CancelSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-core PRs, label ember-server PRs

Revert unnecessary reordering
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

deploy: 7fb76b7c641d9972a091e24942c512328e25a11f
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Use parEvalMapUnordered
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Remove RstAction ADT
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

deploy: 9ca5630b778df76bbb5315d8e1a1b8a06b0f69b7
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 300451283045efbb754c16d1a0f20674a38ccccc
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: a1ea0ba3fce30512bd11f6e4ecc5d616f3e57c2f
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
  v0.23/docs/streaming.html
Due: none

deploy: d6dcd0fb31bd5e22bad5bdab32ddf79e2145630d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 40b9e989440830987d9750cdb5371838d7cf2a9e
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 8b0d82711dfa78899f6c2fd7fd8ae29da8c7ba64
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

FollowRedirect strip sensitive headers on scheme downgrade
  client/shared/src/main/scala/org/http4s/client/middleware/FollowRedirect.scala
  client/shared/src/test/scala/org/http4s/client/middleware/FollowRedirectSuite.scala
Due: label client PRs

Enforce maxHeaderSize and timeouts while processing HTTP/2 Headers
  build.sbt
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/Hpack.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/HpackSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-core PRs, label ember-server PRs, label ember-client PRs

Validate domain of Set-Cookie into CookieJar
  client/shared/src/main/scala/org/http4s/client/middleware/CookieJar.scala
  client/shared/src/test/scala/org/http4s/client/middleware/CookieJarSuite.scala
Due: label client PRs

Fix matching of hosts and paths in CookieJar
  client/shared/src/main/scala/org/http4s/client/middleware/CookieJar.scala
  client/shared/src/test/scala/org/http4s/client/middleware/CookieJarSuite.scala
Due: label client PRs
