Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label client-testkit PRs:
  label:
    add:
    - module:client-testkit

label docs PRs:
  label:
    add:
    - docs

deploy: 9f17a8e727d22692e637b5f01de15a222fb66092
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Refresh outdated parts in the contributing guide
  docs/contributing.md
Due: label docs PRs

Fix scalafmt bullet in the contributing guide
  docs/contributing.md
Due: label docs PRs

Handle the Entity model in PartReceiver
  core/shared/src/main/scala/org/http4s/multipart/MultipartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartValue.scala
Due: label core PRs

Make writing an Entity to a file platform-specific
  core/js-native/src/main/scala/org/http4s/multipart/PartReceiverPlatform.scala
  core/jvm/src/main/scala/org/http4s/multipart/PartReceiverPlatform.scala
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
Due: label core PRs

Generate headers
  core/js-native/src/main/scala/org/http4s/multipart/PartReceiverPlatform.scala
  core/jvm/src/main/scala/org/http4s/multipart/PartReceiverPlatform.scala
Due: label core PRs

deploy: 26b91be84cd6ba61b50fc7dff83705cfb14264a8
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: a2b4c6359ca84c232fcf41a9bac1812b2ab82ed8
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Mirror the Media#bodyText for Entity.Strict in PartReceiver.bodyText
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
Due: label core PRs

deploy: e62807e1a572d1e122bf72b9a01cd526d66a328d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Use fs2-io file API for js-native
  core/js-native/src/main/scala/org/http4s/multipart/PartReceiverPlatform.scala
Due: label core PRs

deploy: c607443313d9e94c572f96dea22928061b91fdd4
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add failing test for H2Stream sendMessageBody deadlock
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

always send empty frame on stream end
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

deploy: fadb035ece70314349c08cd9ce457f8616590dd0
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

assert endstream on each frame
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Assert on message values
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

inline dataFrame helper to assertFrame
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

scalafmt
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

deploy: b093d05d2a80fef08f6f183c096ca5773f978c38
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 134ca10c55c333712abe64f34568ba38f25afa27
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix typo in EmberWSClient
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Preserve the headers supplied by the caller in EmberWSClient
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Fix double-encoding Sec-WebSocket-Key in EmberWSClient
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Expand EmberClientWebSocketSuite with a test for sending after a close frame
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs

Propagate ServerHandshakeError from WebSocketHelpers.getSocket
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
Due: label ember-client PRs

Raise an error in EmberWSClient.send when the channel is closed
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Test ServerHandshakeError propagation in EmberClientWebSocketSuite
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs

Add `Sec-WebSocket-Protocol` header
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Protocol.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/SecWebSocketProtocolSuite.scala
Due: label core PRs, label laws PRs

Implement subprotocol in EmberWSClient
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs, label ember-client PRs

Ensure that receiveStream is terminated by EmberWSClient
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs, label ember-client PRs

Handle EndOfStreamError
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

deploy: 5581c2c8005e38acabf553f930a876c06546c17d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 21ddbdb81af5d961f158a4f0b218ab7c3cd6d284
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add safer wildcard method to VirtualHost
  server/shared/src/main/scala/org/http4s/server/middleware/VirtualHost.scala
  server/shared/src/test/scala/org/http4s/server/middleware/VirtualHostSuite.scala
Due: label server PRs

Native regex needs extra brackets
  server/shared/src/main/scala/org/http4s/server/middleware/VirtualHost.scala
Due: label server PRs

deploy: 7fa775bb7cf3b1d628275984b2ff2f213ee1c994
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Improve connection reuse with configurable drain parameters
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
Due: label ember-client PRs

deploy: dd1d0bcaccfa2ae3a604c00b0c105247b2546063
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Mix in `NoStackTrace` to `EmptyStream` and `ReachedEndOfStream`.
  ember-core/shared/src/main/scala/org/http4s/ember/core/EmberException.scala
Due: label ember-core PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label client-testkit PRs: any of: ^client-testkit/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
