Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label client-testkit PRs:
  label:
    add:
    - module:client-testkit

label docs PRs:
  label:
    add:
    - docs

formatting, trailing comma
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: none

fix errorLogger merge
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

[ci skip] update changelog
  docs/changelog.md
Due: label docs PRs

deploy: 42d641003a34caaed1bff8d4e40306e035c744b4
  changelog.html
  index.html
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
  versions.html
Due: none

deploy: 3ee1907aa54ce1928a913049cf7e22ca5fbf8cca
  changelog.html
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

Target 0.23.32 release now
  build.sbt
  client/shared/src/main/scala/org/http4s/client/middleware/UnixSocket.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label core PRs, label client PRs, label ember-server PRs, label ember-client PRs

Fix newly created doc warnings
  docs/docs/client-middleware.md
  docs/docs/streaming.md
Due: label docs PRs

deploy: a020d7a3597282a52c8294df29f33c3df3418734
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Restore binary compatibility with <0.23.31 in dsl.Statuses
  build.sbt
  dsl/src/main/scala/org/http4s/dsl/impl/Statuses.scala
  dsl/src/test/scala/org/http4s/dsl/ResponseGeneratorSuite.scala
Due: label dsl PRs

deploy: c0f2ecadf57c73c42f9f0538040388341a8c78dc
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Update changelog.md
  docs/changelog.md
Due: label docs PRs

Make `[bot]` a link in changelog.md
  docs/changelog.md
Due: label docs PRs

Add uncheckedStable to Statuses.UnprocessableContent
  dsl/src/main/scala/org/http4s/dsl/impl/Statuses.scala
  dsl/src/test/scala/org/http4s/dsl/ResponseGeneratorSuite.scala
Due: label dsl PRs

deploy: cb08e4939ea6482e74c614953ec4929809599494
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

The number of import groups shall be two, and two shall be the number
  dsl/src/main/scala/org/http4s/dsl/impl/Statuses.scala
Due: label dsl PRs

Drop codecov action
  .github/workflows/ci.yml
  build.sbt
Due: none

deploy: c95d074eee0f75893ecbdc92414e45155d1d8bd3
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: b65f6ae7198319d74af8884bfaf1270ad5f98e6a
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: e39f3931d054c354dbe4d547aeba67ea079fc6a5
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

didn't delete enough from build.sbt
  .github/workflows/ci.yml
  build.sbt
Due: none

UnprocessableContent def to val
  dsl/src/main/scala/org/http4s/dsl/impl/Statuses.scala
  dsl/src/test/scala/org/http4s/dsl/ResponseGeneratorSuite.scala
Due: label dsl PRs

githubWorkflowGenerate
  .github/workflows/ci.yml
Due: none

clean up UnprocessableEntity
  core/shared/src/main/scala/org/http4s/Status.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Responses.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Statuses.scala
  dsl/src/test/scala/org/http4s/dsl/ResponseGeneratorSuite.scala
Due: label core PRs, label dsl PRs

omit UnprocessableContent tests
  dsl/src/test/scala/org/http4s/dsl/ResponseGeneratorSuite.scala
Due: label dsl PRs

deploy: ccf8e05e2924bb97dcb7db1d7e2c1e22262764e3
  adopters.html
  api/index.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/multipart.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: 95ece6c737c835587caf14658dee22862f46a28d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

changelog
  docs/changelog.md
Due: label docs PRs

deploy: c63fbff43dfe7e3bec25b789fd0a0027ec40ed62
  changelog.html
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

deploy: b6c2ac51fef35d17a3cf4450e3b6c4b762d3c6ad
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 17728df53303f3bb68d39be13a1e6ed180837c00
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 3a0521913fd422df03cfd8d62f2c88c053a9c080
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: dcf3b27824317f653a09e8f1bfe461e4577ceb85
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 5346dfd9905a8e90ea20bb30af4e0cb7462ebe2a
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add LogAction builder for server logging middleware
  docs/docs/server-middleware.md
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/LogAction.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs, label docs PRs

Update middleware docs
  docs/docs/server-middleware.md
Due: label docs PRs

Rename class to LoggerConfig
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/LoggerConfig.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Rename parameter
  server/shared/src/main/scala/org/http4s/server/middleware/LoggerConfig.scala
Due: label server PRs

Add doc comment
  server/shared/src/main/scala/org/http4s/server/middleware/LogAction.scala
Due: label server PRs

prePR
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
Due: label server PRs

Fix doc typo
  docs/docs/server-middleware.md
Due: label docs PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label client-testkit PRs: any of: ^client-testkit/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
