Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label http4s-steward's PRs
  conditions:
  - author=http4s-steward[bot]
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label client-testkit PRs
  conditions:
    - files~=^client-testkit/
  actions:
    label:
      add: ['module:client-testkit']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Extend tests for GZip server middleware
  server/shared/src/test/scala/org/http4s/server/middleware/GZipSuite.scala
Due: label server PRs

Properly handle the x-gzip coding in client GZip middleware
  client/shared/src/main/scala/org/http4s/client/middleware/GZip.scala
Due: label client PRs

Extend tests for GZip client middleware
  client/shared/src/test/scala/org/http4s/client/middleware/GZipSuite.scala
Due: label client PRs

deploy: a5946ce14f927c9ab43972b5b23e27cb62074625
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Mark as deprecated legacy content codings
  core/shared/src/main/scala/org/http4s/ContentCoding.scala
Due: label core PRs

Use proper token for x-gzip coding in StaticFile
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Add a test for legacy x-gzip coding to ResourceServiceSuite
  server/jvm/src/test/scala/org/http4s/server/staticcontent/ResourceServiceSuite.scala
Due: label server PRs

Scalafmt
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

deploy: a95ed19a5d377276d1eb98d93897cea45cbad921
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix Ember encoder framing for 205 Reset Content
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
Due: label ember-core PRs

deploy: 4d0362b612bba08bc052106fe6851b629d411dd6
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix h2c request cancellation
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

fix fmt
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

remove test
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

try use netty for test
  build.sbt
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  project/Http4sPlugin.scala
Due: label ember-server PRs

move test to jvm
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerCancelSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

fix test
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerCancelSuite.scala
Due: label ember-server PRs

scalafix
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerCancelSuite.scala
Due: label ember-server PRs

test dependencies
  build.sbt
Due: none

deploy: 934274808138f774f2d2530be469150c1065faa0
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 329f065adf3b54bbf841777891a54db5597a8718
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 139622e8e8bd5ec7de3a67a7515ac99eae996666
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: e47253f33140a63b8e77be6da574a4aef5abe443
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 948d4a38681b6a6fae9ec4d6a68939768a1b4055
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add `application/graphql-response+json` media type
  core/shared/src/main/scala/org/http4s/MediaType.scala
  tests/shared/src/test/scala/org/http4s/MediaTypeSuite.scala
Due: label core PRs

Add an optional heartbeat to WebSocketBuilder
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  server/shared/src/main/scala/org/http4s/server/websocket/Heartbeat.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
  server/shared/src/test/scala/org/http4s/server/websocket/WebSocketBuilderSuite.scala
Due: label server PRs, label ember-server PRs

deploy: 9a30cdbae57ca27e2e4dcc9601289b503ec22630
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Cap the entries a SETTINGS frame may carry
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/FrameSpec.scala
Due: label ember-core PRs

Add deprecation to application/graphql media-type
  core/shared/src/main/scala/org/http4s/MediaType.scala
Due: label core PRs

Derive the dense frame test size from maxFrameSize
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/FrameSpec.scala
Due: label ember-core PRs

Trim the MaxEntries scaladoc
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
Due: label ember-core PRs

Remove ember-server http/2 h2c support
  build.sbt
  core/shared/src/main/scala/org/http4s/HttpVersion.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Keys.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
Due: label core PRs, label ember-core PRs, label ember-server PRs

deploy: a09e7284f9a7bcdef0899fb7c579e2af1398335c
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Do not test Unix sockets on Ember on JDK < 17
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

deploy: 4a06fc974f503b66d6d71b2219bcbec8b85cc7ae
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 3edb32e7fc2fb981cb8cb2d37829b975b3019115
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 3724274e8ddb67e156a23ae4f653c5fa36839641
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Return 401 for malformed digest auth parameters
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

Drop nghttp2 reference from SETTINGS cap doc
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
Due: label ember-core PRs

Initiate the WS closing handshake on combined pipe completion
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs
