Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label client-testkit PRs:
  label:
    add:
    - module:client-testkit

label docs PRs:
  label:
    add:
    - docs

Fix doc method reference
  docs/docs/server-middleware.md
Due: label docs PRs

Fix tuple linting error in test
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
Due: label server PRs

Fix compat
  server/shared/src/main/scala/org/http4s/server/middleware/LoggerConfig.scala
Due: label server PRs

Remove string interpolation from scaladoc example
  server/shared/src/main/scala/org/http4s/server/middleware/LoggerConfig.scala
Due: label server PRs

Update Scala 2.13.x to 2.13.17, Scala JS to 1.20.1
  core/shared/src/main/scala-2.12/org/http4s/internal/HashingCompat.scala
  core/shared/src/main/scala-2.13/org/http4s/internal/HashingCompat.scala
  core/shared/src/main/scala-3/org/http4s/internal/HashingCompat.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
  project/Http4sPlugin.scala
  project/plugins.sbt
Due: label core PRs, label ember-core PRs

Update Scala Native to 0.5.9, and linked libraries.
  build.sbt
  project/Http4sPlugin.scala
  project/plugins.sbt
  project/project/plugins.sbt
Due: none

Replace usage of deprecated `Hotswap` with `NonEmptyHotswap`
  client/shared/src/main/scala/org/http4s/client/middleware/FollowRedirect.scala
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  client/shared/src/main/scala/org/http4s/client/websocket/middleware/Reconnect.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label client PRs, label ember-client PRs

Centralise `NonEmptyHotswap` resource requirement checks.
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  client/shared/src/main/scala/org/http4s/client/websocket/middleware/Reconnect.scala
  core/shared/src/main/scala/org/http4s/internal/NonEmptyHotswapHelpers.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  tests/shared/src/test/scala/org/http4s/internal/NonEmptyHotswapHelpersSuite.scala
Due: label core PRs, label client PRs, label ember-client PRs

Replace usages of deprecated `UnixSockets` with Network[F]
  ember-client/js/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/jvm/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/native/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
Due: label ember-core PRs, label ember-server PRs, label ember-client PRs

Add Network / Server tests. Address linting errors.
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersUnixSocketSuite.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionWriteSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/ServerHelpersNetworkUnixSocketSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/ServerHelpersSuite.scala
  tests/shared/src/test/scala/org/http4s/internal/NonEmptyHotswapHelpersSuite.scala
Due: label ember-core PRs, label ember-server PRs, label ember-client PRs

Regenerate CI workflow definition.
  .github/workflows/ci.yml
Due: none

Add metrics middleware benchmark suite
  bench/src/main/scala/org/http4s/bench/MetricsMiddlewareBench.scala
  build.sbt
  core/shared/src/main/scala/org/http4s/metrics/CustomMetricsOps.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
Due: label core PRs

Rename value to include bytes
  bench/src/main/scala/org/http4s/bench/MetricsMiddlewareBench.scala
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  core/shared/src/main/scala/org/http4s/metrics/CustomMetricsOps.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
  tests/shared/src/test/scala/org/http4s/metrics/ResponseBodyMetricsSuite.scala
Due: label core PRs, label client PRs

Refactor client middleware
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
Due: label client PRs

Add server middleware body size metrics
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label server PRs

Remove redundant test
  tests/shared/src/test/scala/org/http4s/metrics/ResponseBodyMetricsSuite.scala
Due: none

Fix bin compat for new LoggerConfig fields
  server/shared/src/main/scala/org/http4s/server/middleware/LoggerConfig.scala
Due: label server PRs

Add implicit Applicative to new MetricsOps methods
  bench/src/main/scala/org/http4s/bench/MetricsMiddlewareBench.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  core/shared/src/main/scala/org/http4s/metrics/CustomMetricsOps.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
Due: label core PRs, label client PRs

Add missing parameters to test
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label server PRs, label client PRs

Add override modifier
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label server PRs, label client PRs

Add basic auth middleware for client
  client/shared/src/main/scala/org/http4s/client/middleware/BasicAuth.scala
  client/shared/src/test/scala/org/http4s/client/middleware/BasicAuthSuite.scala
  docs/docs/client-middleware.md
Due: label client PRs, label docs PRs

Make it work with Scala 2.12
  client/shared/src/test/scala/org/http4s/client/middleware/BasicAuthSuite.scala
Due: label client PRs

Fix imports
  client/shared/src/main/scala/org/http4s/client/middleware/BasicAuth.scala
  client/shared/src/test/scala/org/http4s/client/middleware/BasicAuthSuite.scala
Due: label client PRs

deploy: b326cc7e1ef5bb9bc050d577c7e581b8c1f0659c
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 4cd8344e8e957c7f3862c0d9496180ccf6407447
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 2e6aa5d528ab206f4952721d0de14ec781a3e046
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: bf62927fbab6cc05a15e3e1b51be320d3c87b2e2
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 1cd86177cfea2b0f6a01aa52d5708044e656cdd7
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: ad27dea581df7e88e3f09523cd7d968755660487
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: c9d875e3301e1ba8fd8eb50d115cf2aa24358b0b
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 25c7be4b3612171e78960de5d015242308c3fa45
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: f4723df4689d569d2f17b4bdee408b720da1ebe2
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: aa3432141eff64fdae9a07becc56bf1071718280
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
Due: none

deploy: f9230fac3b6a15035a993ccac589b1ff80492d90
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 851aa04cabb6e7854c5551132b09b2a6f005911e
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: c621e63c61c9d33bacd3dbf62fd8a478542aff1c
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 9f04c786beea703430913d133f83ab22d053aa24
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add ECT header
  core/shared/src/main/scala/org/http4s/headers/ECT.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/ECTSuite.scala
Due: label core PRs, label laws PRs

Remove unused imports
  tests/shared/src/test/scala/org/http4s/headers/ECTSuite.scala
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label client-testkit PRs: any of: ^client-testkit/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
