Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label http4s-steward's PRs
  conditions:
  - author=http4s-steward[bot]
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label client-testkit PRs
  conditions:
    - files~=^client-testkit/
  actions:
    label:
      add: ['module:client-testkit']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

deploy: 7ae5b1ea14c6df3f9b6b00ba5a74b2ff7adcde2d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix EmberServerWebSocketSuite
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

Restore non-immediate HTTP/2 GOAWAYs
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2FrameSizeSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2IdleTimeoutSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2Suite.scala
Due: label ember-core PRs

Keep writing HTTP/2 data frames non-blocking
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Remove redundant HTTP/2 connection write window set
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Serialize HTTP/2 connection write window requests
  ember-core/jvm/src/test/scala/org/http4s/ember/core/h2/H2FlowControlReviewSuite.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2FrameSizeSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2IdleTimeoutSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2Suite.scala
Due: label ember-core PRs

Don't accept WS control frames whose payloads exceed 125 bytes
  core/shared/src/main/scala/org/http4s/websocket/FrameTranscoder.scala
  core/shared/src/main/scala/org/http4s/websocket/package.scala
Due: label core PRs

Add tests for decoding WS control frames
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketSuite.scala
Due: none

Address MiMa issues in package private code
  build.sbt
Due: none

Adjust WebSocketSuite for scala3
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketSuite.scala
Due: none

scalafix cleanup
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
Due: label ember-core PRs
