Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label client-testkit PRs:
  label:
    add:
    - module:client-testkit

label docs PRs:
  label:
    add:
    - docs

deploy: ac5c5cc40f732df238ef38c8ef8f571b4e66bfe3
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
  v0.23/docs/testing.html
Due: none

Add a test case for #7655 in the EmberServerSuite
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Increase the size of payload
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Remove epollcat dependency
  build.sbt
  project/Http4sPlugin.scala
  tests/native/src/main/scala/org/http4s/Http4sSuitePlatform.scala
Due: none

Remove unused import
  tests/native/src/main/scala/org/http4s/Http4sSuitePlatform.scala
Due: none

Address changes in the Netty v4.2.0
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/NettyTestServer.scala
Due: label client-testkit PRs

Document Scala 2.x mill giter8 template support
  docs/docs/quickstart.md
Due: label docs PRs

Make mill build tool mention clearer
  docs/docs/quickstart.md
Due: label docs PRs

Rename HTTP 422 status
  build.sbt
  core/shared/src/main/scala/org/http4s/MessageFailure.scala
  core/shared/src/main/scala/org/http4s/Status.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Responses.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Statuses.scala
  dsl/src/test/scala/org/http4s/dsl/ResponseGeneratorSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
Due: label core PRs, label dsl PRs

issue/#6901
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

CI tests
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

deploy: 5b814acf174d2da13d97e1949876d43bdfa42982
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: da48e19770ff0a644d48332c75c991d347176da6
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: f1800913f7da8f6b99934ebb84800a309102c084
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: e62daa876cd04b38aa5e6eb4e61da989f9b698ad
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: d26052355588a456257900485c5b4f0092098ae6
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Ignore 'java.io.IOException:Broken pipe' when writing to an fs2.Socket in the Ember client
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs, label ember-client PRs

Expand the number of ignored IOExceptions when writing to an fs2.Socket in the Ember client
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Scalafix
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Shorten the impl
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Make the fix platform agnostic
  ember-client/js/src/main/scala/org/http4s/ember/client/internal/ClientHelpersPlatform.scala
  ember-client/jvm-native/src/main/scala/org/http4s/ember/client/internal/ClientHelpersPlatform.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Temporarily (or not) disable test for JS
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Use better naming in the ClientHelpersPlatform
  ember-client/js/src/main/scala/org/http4s/ember/client/internal/ClientHelpersPlatform.scala
  ember-client/jvm-native/src/main/scala/org/http4s/ember/client/internal/ClientHelpersPlatform.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

deploy: fd7de887a180d2b80af798f5411aded2217c40d3
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
Due: none

Remove Cachix
  .github/workflows/ci.yml
  build.sbt
Due: none

deploy: 9f9a2aa9a160dbfe8abe22568f53570aac8aee04
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Add the Alt-Svc header
  core/shared/src/main/scala/org/http4s/headers/`Alt-Svc`.scala
  tests/shared/src/test/scala/org/http4s/headers/AltSvcSuite.scala
Due: label core PRs

Added Alt-Svc header
  core/shared/src/main/scala/org/http4s/headers/`Alt-Svc`.scala
Due: label core PRs

deploy: 22e6a094e8fecf96e6779381a2797f4308b755dd
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add Famly to list of adopters
  docs/adopters.md
Due: label docs PRs

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

Scalafix
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
Due: label core PRs, label server PRs

Copyright headers placed on correct place
  core/shared/src/main/scala/org/http4s/headers/`Alt-Svc`.scala
  tests/shared/src/test/scala/org/http4s/headers/AltSvcSuite.scala
Due: label core PRs

Placed copyright header on correct place
  core/shared/src/main/scala/org/http4s/headers/`Alt-Svc`.scala
Due: label core PRs

Placed copyright header on correct place
  tests/shared/src/test/scala/org/http4s/headers/AltSvcSuite.scala
Due: none

Fixed formatting
  core/shared/src/main/scala/org/http4s/headers/`Alt-Svc`.scala
Due: label core PRs

Fixed formatting
  tests/shared/src/test/scala/org/http4s/headers/AltSvcSuite.scala
Due: none

Removed unused imports
  core/shared/src/main/scala/org/http4s/headers/`Alt-Svc`.scala
Due: label core PRs

Fixed Scala 2.12 compilation errors
  core/shared/src/main/scala/org/http4s/headers/`Alt-Svc`.scala
Due: label core PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label client-testkit PRs: any of: ^client-testkit/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
