Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label client-testkit PRs:
  label:
    add:
    - module:client-testkit

label docs PRs:
  label:
    add:
    - docs

Fixed scalafix errors
  core/shared/src/main/scala/org/http4s/headers/`Alt-Svc`.scala
  tests/shared/src/test/scala/org/http4s/headers/AltSvcSuite.scala
Due: label core PRs

Reorganised imports in tests
  tests/shared/src/test/scala/org/http4s/headers/AltSvcSuite.scala
Due: none

deploy: a40d57b7a19e50bc6d1e435b145adedbdfc7ec18
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/multipart.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: ecde17e0eb7933ce99ea0ae3fb79d0b8450de17f
  adopters.html
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

Bump to fs2 3.13.0-M2
  client/shared/src/main/scala/org/http4s/client/middleware/UnixSocket.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  ember-client/jvm/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
  project/Http4sPlugin.scala
Due: label core PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs

Restore header
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Restore accidentally deleted ClientHelpers
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Fix warnings
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Scalafmt
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Remove unused UnixSockets materializers on JS/Native
  ember-client/js/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/native/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
Due: label ember-client PRs

Drop recevieBufferSize setting on unix sockets
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Fix tests
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
Due: label ember-server PRs

Add mima exclusion
  build.sbt
Due: none

Scalafmt
  build.sbt
Due: none

Import order
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

Bump to fs2 3.13.0-M3
  project/Http4sPlugin.scala
Due: none

Log errors when fibers exit with an error in ResponseLogger
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

deploy: 38469a8af6ca69d76bfc3e78a07a779860d0f6d6
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: e63b50b5af82d0be2efc67756e8db4b24dca3aef
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 0d2aca87cb8f977d46f4c1eb7709b067bc6f06da
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 45870d0e05d9a59745d70ef2f240f61e4ec8bd00
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 0a54dfe68ab4730b40161580acb90ac73cdeff38
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Decruft CentralRequirements
  project/CentralRequirements.scala
Due: none

Scalafix wants type annotations it didn't before. *shrug*
  core/shared/src/main/scala/org/http4s/headers/Set-Cookie.scala
  core/shared/src/main/scala/org/http4s/headers/Transfer-Encoding.scala
  core/shared/src/main/scala/org/http4s/headers/User-Agent.scala
Due: label core PRs

deploy: c6f2ee45c9472f1059b9a26021fab168fc3a2c8a
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Security policy updates
  SECURITY.md
Due: none

deploy: edfa0cd0ce37e9134be124b690707595ede2347d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Build with the current Node.js in Nix
  flake.nix
Due: none

deploy: 68bc2e48391f918bda432e6c33cec4e1ae33f9c5
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 54389b3f72a33451c7c7899836bb7a70b9617201
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: f075c1b02bea71704fc3c32064040f1444ec67af
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix nativeLink error in CI
  flake.nix
Due: none

flake.lock: Update
  flake.lock
Due: none

Add PKG_CONFIG_PATH
  flake.nix
Due: none

deploy: 8443d9a06596635de995825ce2f62382631fe677
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

[dsl] Expose PathVar class to facilitate the definition of custom Path extractors
  docs/docs/dsl.md
  dsl/src/main/scala/org/http4s/dsl/Http4sDsl.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Path.scala
  dsl/src/main/scala/org/http4s/dsl/request.scala
  dsl/src/test/scala/org/http4s/dsl/PathSuite.scala
Due: label dsl PRs, label docs PRs

[dsl] Use constrainted constructors for PathVar as per code review
  docs/docs/dsl.md
  dsl/src/main/scala/org/http4s/dsl/Http4sDsl.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Path.scala
  dsl/src/main/scala/org/http4s/dsl/request.scala
  dsl/src/test/scala/org/http4s/dsl/PathSuite.scala
Due: label dsl PRs, label docs PRs

Add Timing-Allow-Origin header
  core/shared/src/main/scala/org/http4s/headers/`Timing-Allow-Origin`.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/TimingAllowOriginSpec.scala
Due: label core PRs, label laws PRs

make Timing-Allow-Origin an ADT
  core/shared/src/main/scala/org/http4s/headers/`Timing-Allow-Origin`.scala
Due: label core PRs

deploy: d363876c353587f03c03677961e9eb65cfa3bf1d
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label client-testkit PRs: any of: ^client-testkit/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
