Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label client-testkit PRs:
  label:
    add:
    - module:client-testkit

label docs PRs:
  label:
    add:
    - docs

deploy: 73340be10836b95241ed2d7682b4da057b7b5ccb
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 30304f80313f3eb1a5841cf35920dcb85c009c2e
  adopters.html
  api/index.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/multipart.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: 1a0a35b99a8ea3429db733a0b13a9ebb8f5c226a
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Remove 4 second sleep in client-middleware docs
  docs/docs/client-middleware.md
Due: label docs PRs

readN to try to get the full H2 connection preface
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

deploy: ebf84c91be566dc3705a2ae73924a4f32f167497
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 02f8e2950db3a938197913aaaba7f653a3855f03
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Resolve scala 3 compilation warnings
  core/shared/src/main/scala/org/http4s/MediaType.scala
  core/shared/src/main/scala/org/http4s/UriTemplate.scala
  core/shared/src/main/scala/org/http4s/package.scala
  ember-core/js/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/native/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label core PRs, label server PRs, label ember-core PRs

Resolve scala 3 compilation warnings in tests
  tests/shared/src/test/scala/org/http4s/UrlFormSpec.scala
Due: none

Scalafix
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label server PRs

Drop deprecated RFC parser aliases
  core/shared/src/main/scala/org/http4s/headers/Server.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc7230.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc7235.scala
Due: label core PRs

Adjust WS frames decoding to not accept unmasked frames on the server
  core/shared/src/main/scala/org/http4s/websocket/FrameTranscoder.scala
Due: label core PRs

Add a test for rejecting unmasked WS frames on the server
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketSuite.scala
Due: none

Add a test for rejecting masked WS frames on the client
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketSuite.scala
Due: none

Mask a few WS frames in WebSocketSuite for consistency
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketSuite.scala
Due: none

Tweak contributing guide for 2026
  docs/contributing.md
Due: label docs PRs

Add AI restriction to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix http1.1 request cancellation
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Include framing header for empty 205 response
  core/shared/src/main/scala/org/http4s/Status.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
Due: label core PRs, label ember-core PRs

Include framing header for empty 205 response
  core/shared/src/main/scala/org/http4s/Status.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label core PRs, label ember-core PRs

Implement MetricsOps2
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps2.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
  tests/shared/src/main/scala/org/http4s/metrics/TestMetricsOps2.scala
Due: label core PRs, label server PRs, label client PRs

Document why 205 responses are framed
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

deploy: b6d1fe61cf2cf536206c52a3fbb26529ab168635
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: f4419aab12e149093ceeca82eb00bd12dfbb3b07
  contributing.html
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

deploy: ff4e64f4a88da729e909912928d67b4ca63affe7
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add docs, drop redundant code/comments
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
  tests/shared/src/main/scala/org/http4s/metrics/TestMetricsOps2.scala
Due: label server PRs, label client PRs

Add MetricsRequest
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps2.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsRequest.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
  tests/shared/src/main/scala/org/http4s/metrics/TestMetricsOps2.scala
Due: label core PRs, label server PRs, label client PRs

Remove synentic response, properly track consumed bodies
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label server PRs, label client PRs

Run scalafix
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label server PRs, label client PRs

Simplify body size calculation (impure way)
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label server PRs, label client PRs

Use Content-Length header to calculate the body size
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label server PRs, label client PRs

Rewrite docs
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label server PRs, label client PRs

Fix scaladoc links
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label server PRs, label client PRs

Make server's Metric require HttpApp, make 'createContext' return Option
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps2.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
  tests/shared/src/main/scala/org/http4s/metrics/TestMetricsOps2.scala
Due: label core PRs, label server PRs, label client PRs

Prefer for-comprehension
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label server PRs

Address feedbacks
  client/shared/src/main/scala/org/http4s/client/middleware/BasicAuth.scala
  client/shared/src/test/scala/org/http4s/client/middleware/BasicAuthSuite.scala
  docs/docs/client-middleware.md
Due: label client PRs, label docs PRs

Fix mdoc
  docs/docs/client-middleware.md
Due: label docs PRs

DRAFT: check shutdown signal before returning keep-alive
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/Shutdown.scala
Due: label ember-core PRs, label ember-server PRs

overload method name instead
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-core PRs, label ember-server PRs

deploy: ae9ac379874755e3a97f67bc898bd8de61c54ac1
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label client-testkit PRs: any of: ^client-testkit/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
