Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label http4s-steward's PRs
  conditions:
  - author=http4s-steward[bot]
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label client-testkit PRs
  conditions:
    - files~=^client-testkit/
  actions:
    label:
      add: ['module:client-testkit']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

deploy: e5205e68a25ba5ed8c7398fbc618da942e983ee8
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 9f5d068775b76fc61b7b94b9410fe3bf3d4c7c5c
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Add QueryOps.withQueryParamValue
  core/shared/src/main/scala/org/http4s/QueryOps.scala
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: label core PRs

deploy: 4a8dab490373b705367080ffe2759f55f110a177
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: b11c65ec2e5049327fea25ce12caa27b3fcad32d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 099dc935a3a9181e87f486d3c0dc15bb5015583e
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 3b2ea768da4c4797ab3c303f970955923fbeab22
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Update Scala Native to 0.5.8
  build.sbt
  client/shared/src/main/scala/org/http4s/client/middleware/FollowRedirect.scala
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  client/shared/src/main/scala/org/http4s/client/websocket/middleware/Reconnect.scala
  ember-client/js/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/jvm/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/native/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
  project/Http4sPlugin.scala
  project/plugins.sbt
Due: label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs

Generate GitHub workflow
  .github/workflows/ci.yml
Due: none

Update Scala.js
  project/plugins.sbt
Due: none

Fix mima warnings
  build.sbt
Due: none

deploy: db3232e10d98a85942a425d72ec75261119e081a
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

add validateWithToken middleware
  server/shared/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label server PRs

scalafmt
  server/shared/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label server PRs

Update fs2 to 3.13.0-M7
  project/Http4sPlugin.scala
Due: none

Update to fs2 3.13.0-M5 - last milestone before needing native 0.5
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  project/Http4sPlugin.scala
Due: label ember-server PRs

Remove unnecessary match
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

Update scalajs to 1.20.1
  project/plugins.sbt
Due: none

Remove explicit dependency on ip4s
  build.sbt
Due: none

Update http4s-crypto to 0.2.5-RC1
  build.sbt
  project/Http4sPlugin.scala
Due: none

Enable snapshots
  .github/workflows/ci.yml
  build.sbt
Due: none

deploy: b839bbcaaa1b31fdfdb53bef6a7d17215cc52601
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: aa5a5ea969d9edfd529d57edf578587165139c8a
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Address review comments
  client/shared/src/main/scala/org/http4s/client/middleware/UnixSocket.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label core PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs

Remove unused nowarns
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs, label ember-client PRs

Remove unused nowarns
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-core PRs, label ember-server PRs

Remove unused nowarns
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
Due: label ember-server PRs

Scalafix
  ember-client/js/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/jvm/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/native/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
Due: label ember-client PRs

fail parsing invalid whitespace around field name
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-core PRs, label ember-server PRs

delete unused colon value
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

scalafixAll
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

cannot optimize actually
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

deploy: 3b1603bef1d01979fd576a1fe4237a6b0f85f2eb
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/multipart.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Add missing type hints
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: none

Appease Scalafix
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: none

deploy: 487620268eef2735a79b9df73d90dca160aa6c0d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Release v0.23.31
  docs/changelog.md
Due: label docs PRs

remove [bot] so generate-site doesn't fail
  docs/changelog.md
Due: label docs PRs

details block
  docs/changelog.md
Due: label docs PRs

deploy: 36b243fc49ea692e4bf26241c75db53ff7d82261
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none
