Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label http4s-steward's PRs
  conditions:
  - author=http4s-steward[bot]
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label client-testkit PRs
  conditions:
    - files~=^client-testkit/
  actions:
    label:
      add: ['module:client-testkit']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Rewrite the deprecated method using in-place `Monad` creation
  server/shared/src/main/scala/org/http4s/server/middleware/RequestId.scala
Due: label server PRs

deploy: ff1de6870bdf4fde47d70c6ecfa2a7d281251899
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: ca015bcb4057cb1aa9ad1a6c96a1be16f61b6687
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 3aace932e204b9743e2126ef5530df6d8af82d54
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

add metrics test example for incrementing/decrementing activeRequests
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label server PRs

deploy: 87c05aedc17b460510e72019dbaf06bcb375a84a
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 81fc34a53b22e0789e702a73014de0ddf92c0e5c
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Update scala2 to 2.13.16
  project/Http4sPlugin.scala
Due: none

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

Update sbt-http4s-org to 0.17.7
  project/plugins.sbt
Due: none

Update sbt-scoverage to 2.3.0
  project/plugins.sbt
Due: none

deploy: 1cf487924befa254f9d05e03ca31faccd5226dc5
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 152f95a3a9cc85e0433f61523bf4a5b8363ddc00
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 46b50a2026e0cdedd0bb3849a7bc58500ab89716
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 2338eb121ff9d64602e6878b1bffdbc9088ceefd
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 4df162aac23b94a994d71f1ece46c81ca13f846b
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 560b8ce87d67c1b7bf461b5fec00b75171ff7516
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add server `GUnzip` middleware for request decompression
  docs/docs/gzip.md
  server/shared/src/main/scala/org/http4s/server/middleware/GUnzip.scala
  server/shared/src/test/scala/org/http4s/server/middleware/GUnzipSuite.scala
  tests/shared/src/main/scala/org/http4s/Http4sSuite.scala
Due: label server PRs, label docs PRs

Fix lint errors
  docs/docs/gzip.md
  server/shared/src/main/scala/org/http4s/server/middleware/GUnzip.scala
  server/shared/src/test/scala/org/http4s/server/middleware/GUnzipSuite.scala
Due: label server PRs, label docs PRs

Adjust gzip docs
  docs/docs/gzip.md
Due: label docs PRs

Add Transfer-Encoding: chunked for unzipped request
  server/shared/src/main/scala/org/http4s/server/middleware/GUnzip.scala
Due: label server PRs

Move buffer size to a constant and add more tests
  server/shared/src/main/scala/org/http4s/server/middleware/GUnzip.scala
  server/shared/src/main/scala/org/http4s/server/middleware/GZip.scala
  server/shared/src/test/scala/org/http4s/server/middleware/GUnzipSuite.scala
Due: label server PRs

Add a test for combination of `GUnzip` and `EntityLimiter`
  server/shared/src/test/scala/org/http4s/server/middleware/GUnzipSuite.scala
Due: label server PRs

Return back the test for lazy request decoding
  server/shared/src/test/scala/org/http4s/server/middleware/GUnzipSuite.scala
Due: label server PRs

Extract H2Connection constructor
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

Add helper methods for stream map
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Add H2Connection closed helper methods
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Add outgoing frames helper method
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

Add locked stream creation helper methods
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Remove unused H2Connection settingsAck
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Add created and closed streams helper methods
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Write multiple frames in `H2Connection`s `writeLoop`
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

deploy: bad1cf9f68f8720a317ef6e10419e062de56fabe
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 72427a5abdc8a65e8218a97cb259ba78735951c6
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 432f249eb5c2d3db3290ad043d55f08ef5a208ec
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Remove build.sbt change
  build.sbt
Due: none

Add a default implementation for generateByteVector - NotYetImplemented
  client/shared/src/main/scala/org/http4s/client/oauth1/SignatureAlgorithm.scala
Due: label client PRs

clear error with unused vars
  client/shared/src/main/scala/org/http4s/client/oauth1/SignatureAlgorithm.scala
Due: label client PRs

Update cats-effect to 3.6.0
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  project/Http4sPlugin.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestId.scala
Due: label server PRs, label ember-core PRs

Update 'his/her' to 'their'
  docs/docs/testing.md
Due: label docs PRs
