Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label client-testkit PRs:
  label:
    add:
    - module:client-testkit

label docs PRs:
  label:
    add:
    - docs

deploy: 4d391fb957a55fd10d51338dca38c8d155ae9baa
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 75be1a596e25cc131ce954d26c2c92a5fae86117
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

fix warning
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Implement server completion idempotence
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label server PRs, label client PRs

deploy: 5d575a86e2e9eab2168ed2a98beb41b9353b3d32
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Check framing header requirement directly
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-core PRs, label ember-server PRs

Normalize empty ALPN protocol in Ember
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2TLSSuite.scala
Due: label ember-core PRs

bounded queue for socket read
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Count every DATA frame against the HTTP/2 connection window
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
Due: label ember-core PRs

Ignore WINDOW_UPDATE and RST_STREAM for closed HTTP/2 streams
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
Due: label ember-core PRs

Reset HTTP/2 streams whose response finishes before the request
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ServerSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-core PRs, label ember-server PRs

Treat DATA and RST_STREAM on stream 0 as HTTP/2 connection errors
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
Due: label ember-core PRs

Remove helper function and test using a real socket
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2TLS.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2TLSSuite.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/H2TLSSuite.scala
Due: label ember-core PRs, label ember-server PRs

deploy: 5b61a57b5687dce9dbe0f0fb8d14f1ee4805decc
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 110cc04f86db63a7cebff1c6e2d83e882202aefc
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 97c8d6f5ae38aef7ef948ccda52750a61715e28f
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Better management of the MetricsOps2 lifecycle and sizing
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps2.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label core PRs, label server PRs, label client PRs

Add the failure reason to TranscodeError
  core/shared/src/main/scala/org/http4s/websocket/FrameTranscoder.scala
Due: label core PRs

Tweak assertions in WebSocketSuite
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketSuite.scala
Due: none

Send a Close WS frame on protocol errors in Ember
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

Scalafix
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

Properly observe body completion
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label server PRs

Add tests asserting the Close frame sent by Ember server
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
Due: label server PRs, label ember-server PRs

Fix exception message in FrameTranscoder
  core/shared/src/main/scala/org/http4s/websocket/FrameTranscoder.scala
Due: label core PRs

Introduce a PublicSuffixMatcher for CookieJar
  build.sbt
  client/shared/src/main/scala/org/http4s/client/middleware/CookieJar.scala
  client/shared/src/test/scala/org/http4s/client/middleware/CookieJarSuite.scala
Due: label client PRs

Fix multiline handling in SSE
  core/shared/src/main/scala/org/http4s/ServerSentEvent.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/ServerSentEventSpec.scala
Due: label core PRs, label laws PRs

Bound stored cookies per response and overall CookieJar size
  client/shared/src/main/scala/org/http4s/client/middleware/CookieJar.scala
  client/shared/src/test/scala/org/http4s/client/middleware/CookieJarSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ServerGraceSuite.scala
Due: label client PRs, label ember-core PRs

Bound h2 inbound bodies by flow control, not channel size
  ember-core/jvm/src/test/scala/org/http4s/ember/core/h2/H2FlowControlReviewSuite.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2FrameSizeSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2IdleTimeoutSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ServerGraceSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/H2ReviewSuite.scala
Due: label ember-core PRs, label ember-server PRs

Don't send host-only cookies to subdomains
  client/shared/src/main/scala/org/http4s/client/middleware/CookieJar.scala
  client/shared/src/test/scala/org/http4s/client/middleware/CookieJarSuite.scala
Due: label client PRs

Tighten Ember HTTP/1.1 header parsing
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

Compact HTTP/2 continuation fragments
  build.sbt
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Overload multipart parser and decoder to enforce maximum part count
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartParserSuite.scala
Due: label core PRs

Handle contradictory response headers in ember
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

Fix percent encodings in deprecated WebjarService constructor
  server/jvm/src/test/scala/org/http4s/server/staticcontent/WebjarServiceSuite.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/WebjarService.scala
Due: label server PRs

Cap websocket client fragment count and max message size
  client/shared/src/main/scala/org/http4s/client/websocket/WSClient.scala
Due: label client PRs

Release v0.23.38
  docs/changelog.md
Due: label docs PRs

deploy: 24f8d91ff639907373b343f9c034573a45625164
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Bump deprecated since version
  core/shared/src/main/scala/org/http4s/websocket/FrameTranscoder.scala
Due: label core PRs

Properly observe body completion (by playing with fs2 stream .scope)
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps2.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label core PRs, label server PRs, label client PRs

Cleanup
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label server PRs, label client PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label client-testkit PRs: any of: ^client-testkit/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
