Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label jawn PRs, label circe PRs, label client-testkit PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label client-testkit PRs:
  label:
    add:
    - module:client-testkit

label docs PRs:
  label:
    add:
    - docs

Reject websocket frames with a negative length
  core/shared/src/main/scala/org/http4s/websocket/FrameTranscoder.scala
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketSuite.scala
Due: label core PRs

Evict stale nonces and impose a cap on nonce cache
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeper.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/NonceKeeperFSuite.scala
Due: label server PRs

Return 400 for encoded / and \ in static content services
  server/jvm/src/test/scala/org/http4s/server/staticcontent/ResourceServiceSuite.scala
  server/jvm/src/test/scala/org/http4s/server/staticcontent/WebjarServiceSuite.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/FileService.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/ResourceService.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/WebjarService.scala
  server/shared/src/test/scala/org/http4s/server/staticcontent/FileServiceSuite.scala
Due: label server PRs

Enforce max header length with continuation frames
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2ConnectionSuite.scala
Due: label ember-core PRs

Sanitize values when rendering a ResponseCookie
  core/shared/src/main/scala/org/http4s/ResponseCookie.scala
  tests/shared/src/test/scala/org/http4s/headers/SetCookieHeaderSpec.scala
Due: label core PRs

ember-core: accept only 'chunked' as Transfer-Encoding
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

ember-core: reject requests that combine Transfer-Encoding with Content-Length
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

Store the maximum nc instead of the previous+1
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeper.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/NonceKeeperFSuite.scala
Due: label server PRs

Limit unbounded websocket frame sizes
  core/shared/src/main/scala/org/http4s/websocket/FrameTranscoder.scala
  core/shared/src/main/scala/org/http4s/websocket/WebSocketFrameDefragmenter.scala
  core/shared/src/main/scala/org/http4s/websocket/package.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketFrameDefragmenterSuite.scala
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketSuite.scala
Due: label core PRs, label server PRs, label ember-server PRs

ember-core: validate Content-Length as 1*DIGIT and reject conflicting duplicates
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

restrict chunk-size to 1*HEXDIG, require CRLF after chunk-data
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

Refuse connections exceeding max stream limit
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Don't publish snapshots of the ember-wsclient branch
  .github/workflows/ci.yml
  build.sbt
Due: none

Make WebSocketUpgradeIdentifier private to ember
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Keys.scala
Due: label ember-core PRs

Validate the negotiated subprotocol in EmberWSClient
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/WebSocketHelpersSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs, label ember-client PRs

Replace the external WebSocket test with a local HTTP/2 test
  ember-server/jvm/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketH2Suite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs

Echo the server's close code when releasing the connection
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs, label ember-client PRs

Preserve the close code and reason supplied by the caller in EmberWSClient
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs, label ember-client PRs

Update deprecated `Network[F].serverResource` in EmberClientWebSocketSuite
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs

Replay leftover bytes after the WebSocket upgrade in EmberWSClient
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketKey.scala
Due: label ember-client PRs

Keep a successful WebSocket upgrade out of the HTTP connection pool
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs, label ember-client PRs

Respond to pings on high-level Ember WebSocket connections
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Update EmberWSClient to handle continuation frames
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs, label ember-client PRs

Drop unnecessary type ascriptions in EmberClientWebSocketSuite
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs

Use a context bound for sendMany in EmberWSClient
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Combine serverHandshake checks with *> instead of mapN
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
Due: label ember-client PRs

Simplify validateServerHandshake
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
Due: label ember-client PRs

Constrain toWebSocketFrame to MonadThrow
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
Due: label ember-client PRs

Use whenA for the post-close drop in the WebSocket read loop
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Build serverHandshake checks with Either.cond and toRight
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
Due: label ember-client PRs

Name the response/drain pair in EmberClientBuilder.webClient
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
Due: label ember-client PRs

Bound the outbound data queues so streaming data is backpressured
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Bound the inbound H2Connection queues
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Impose hard limit at 4x maxConcurrentStreams
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Release notes for v0.23.35
  docs/changelog.md
Due: label docs PRs

Regenerate workflow
  .github/workflows/ci.yml
Due: none

Reduce SignatureAlgorithm.generate to single MonadThrow overload
  client/shared/src/main/scala/org/http4s/client/oauth1/SignatureAlgorithm.scala
Due: label client PRs

Restore binary compatibility with 1.0.0-M46
  client/shared/src/main/scala/org/http4s/client/oauth1/SignatureAlgorithm.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
Due: label client PRs, label ember-client PRs

Release notes for v1.0.0-M47
  docs/changelog.md
Due: label docs PRs

Clean up lingering warnings
  core/shared/src/main/scala/org/http4s/websocket/WebSocketFrameDefragmenter.scala
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketFrameDefragmenterSuite.scala
Due: label core PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label client-testkit PRs: any of: ^client-testkit/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
